#heading{
    font-size: 8vh;
    margin-left: 35%;
    color: gray;
    text-shadow: 2px 1px grey;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}
#lineText{
    font-size: 4vh;
    color: gray;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 38%;
  
}

.imageStyle{
    
   float: left;
}

.style{
    float: right;
}

.lesson_content{
    margin-left: 20%;
    margin-right: 55%;
  
  /* width: 60%;
  margin-left: 5%;
  margin-top: auto;
  float: left;
  border-bottom-style:groove;
  border-bottom-color:  #63BFBF;
  box-shadow: -10px 10px 20px  #63BFBF;
  padding: 20px;
  border-radius: 25px; */
  
}
.lesson_content p{
    font-size: 3vh;
    color: black;
    margin-top: 25%;
}
#linkLine{
    color: cornflowerblue;
}

.drawing_content{
    margin-left: 2%;
    margin-right: 55%;
}
.drawing_content p{
    font-size: 3vh;
    color: black;
}