body{
    background-color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#heading{
    font-size: 8vh;
    margin-left: 35%;
    color: gray;
    text-shadow: 2px 1px grey;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}
#lineText{
    font-size: 4vh;
    color: gray;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 38%;
  
}

.imageStyle{
    margin-left: 20%;
    margin-top: 10%;
    box-shadow: -10px 10px 20px  lightslategrey;
  
}

.style{
   
    margin-left: 20%;
    margin-top: 10%;
    box-shadow: 10px 10px 20px  lightslategrey;
} 

#left_content{
    margin-top: 15%;
    margin-left: 15%;
    font-size: 3vh;
    margin-right: 5%;
    
    
}

#right_content{
    margin-top: 15%;
    margin-left: 15%;
    font-size: 3vh;
    margin-right: 5%;
   
}

.leftSide{
    width: 20%;
    
    margin-left: 25%;
    margin-top: auto;
    float: left;
    border-bottom-style:groove;
    border-bottom-color:  lightslategray;
    box-shadow: -10px 10px 20px  lightslategray;
    padding: 20px;
    border-radius: 25px;
}

.rightSide{
    width: 20%;
    margin-right: 25%;
    margin-top: auto;
    float: right;
    border-bottom-style:groove;
    border-bottom-color:  lightslategray;
    box-shadow: 10px 10px 20px  lightslategray;
    padding: 20px;
    border-radius: 25px;
}
