#bgImageStyle{
    opacity: 1;
}
.head-title {
    padding-top: 10%;
    padding-left: 8%;
    font-size: 55px;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;

}
#content {
    font-size: 24px;
    padding-left: 0%;
    padding-right: 24%;
    padding-top: 5%;
    font-family: fantasy;
    letter-spacing: .3px;
    line-height: 1.8em;
}
#second_content {
    font-size: 25px;
    /* padding-left: 21%; */
    padding-right: 22%;
    padding-top: 1%;
    font-family: fantasy;
    letter-spacing: .3px;
    line-height: 1.8em;
    
}
.wordingContent {
    display: flex;
    flex-flow: column;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: -22%;
}

.adsImg {
   position: relative;
   margin-right: 70%;
   margin-top: 10%;
   border-color: rgb(236, 229, 229);
   border-style: groove;
}

.headingText{
    position: absolute;
    top: 95%;
    left: 14%;
    margin-right: 0%;
    color: #E75A7C;
    font-size: 20px;
    font-weight: 700;
}
#quote {
    font-size: 30px;
    margin-top: 15%;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 0%;
  display: flex;
  flex-flow: column;
}

.text {
  color: black;
  font-size: 25px;
  padding: 8px 12px;
  font-weight: 300vh;
  margin-bottom: 3%;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

#image_style {
    margin-top: 15%;
}

.down_Container {
    position: relative;
    color: black;
    
}

.endContent {
    text-align: center;
    position: absolute;
    top: 48%;
    left: 27%;
    font-size: 25px;
}

#bigContainer {
   display: flex;
   
}