#bgImageStyle{
    opacity: 1;
}
.head-title {
    padding-top: 10%;
    padding-left: 28%;
    font-size: 55px;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    color: #666;
}
#content {
    font-size: 24px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    font-family:fantasy;
    letter-spacing: .3px;
    line-height: 1.8em;
}
#second_content {
    font-size: 25px;
    padding-left: 21%;
    padding-right: 21%;
    padding-top: 1%;
    font-family:fantasy;
    letter-spacing: .3px;
    line-height: 1.8em;
}
#image_style {
    margin-top: 25%;
}
.down_Container {
    position: relative;
    text-align: center;
    color: black;
}
.downCont {
    position: absolute;
    top: 60%;
    left: 40%;
    font-size: 25px;
}