body {
    font-family: sans-serif;
  }
  #headContainer {
    background-image: url("../img/shade.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 35%;
    border-style: groove;
    
  }



  #bodycontainer {
    
    background-color:  white; 
    
  }

  .topicHead {
    color: black;
    font-size: 35px;
  }

  .fontsize {
    font-size: 40px;
    color: black
  }

  .topic {
    font-size: 50px;
    padding: 20px;
  }

  .class1 {
    vertical-align: top;
    display: inline-block;
    text-align: left;
    width: 120px;
  }

  .class1 img {
    width: 200px;
    height: 250px;
    background-color: grey;
  }

  .subclass {
    display: block;
    font-size: 30px;
  }


  a{
    text-decoration: none;
    
  }

  a:link {
    color: black;
  }

  a:visited {
    color: black;
  }

  a:active {
    color: black;
  }