body {
  font-family: sans-serif;
  margin: 0%;
}
#text_head {
  cursor: pointer;
  color: white;
  padding-top: 3vh;
  padding-left: 10px;
  position: absolute;
  top: 2%;
  right: 5vh;
  left: 3%;
  bottom: 2%;
  font-size: 5vh;
 font-family: Arial, Helvetica, sans-serif;
 font-style: normal;
 
}

.headContainer {
  position: relative;
  text-align: center;
  color: white;
}


#bodycontainer {
 
  background-image: url(../img/login.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 6%;
  margin-right: 3%;
  margin-bottom: 10%;
  padding-top: 5%;
  padding-left: 10vh;
  padding-bottom: 20%;
  padding-right: 10vh;
}

.pencilImage{
  margin-top: 6%;
  margin-left: 0%;
}
.drawingImage{
  margin-top: 6%;
  margin-right: 0%;
  
}
.imageStyle{
  margin-top: 5%;
  margin-right: 4%;
  width: 95%;
  display: flex;
  flex-flow: column;

}
.bodyContent{
  display: flex;
  
}
.imageContent{
  margin-top: 5%;
  margin-left: 1%;
  width: 95%;
  display: flex;
  flex-flow: column;

}
.topicHead {
  color: black;
  font-size: 35px;
}

.fontsize {
  font-size: 4vh;
  color: black;
  text-align: center;
}

.topic {
  font-size: 50px;
  padding: 20px;
}

.myClass {
  vertical-align: top;
  display: inline-block;
  text-align: left;
  width: 20vh;
  margin-top: 10vh;
  margin-bottom: 20vh;
}

.subclass {
  display: block;
  font-size: 30px;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:active {
  color: black;
}

.navbar {
  width: 40%;
  position: fixed;
  height: 70px;
  background-color: #5e5d5d;
  list-style-type: none;
  margin: 0;
  padding-left: 65%;
  padding-top: 20px;
  padding-bottom: 10px;  
  z-index: 1; 
  }
  
  .navbar a {
    position: relative;
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;  
  }
  
  .dropdown .dropbtn {
    position: relative;
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
   
    background-color: rgb(187, 202, 202);
  }
  
  .dropdown-content {
    color: white;
    display: none;
    position: absolute;
    background-color: rgb(102, 100, 100);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #929090;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


