#table 
{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 35%;
  width: 75vh;
  height: 250px;
  /* width: 75vh;
  height: 38vh; */
}
#Container {
  display: flex;
  flex-flow: row;
}
#LoginImg {
  width: 55%;
  height: 680px;
  margin-left: 45%;
  margin-right: 15%;
  margin-top: 4%;
}
#loginContainer{
  margin-right: 15%;
  
}
#myForm{
  background-color: #F2F5EA;
  margin-top: 5%;
  
}

#email{
  margin-left: 15vh;
 
}

#userPassword{
  margin-left: 15vh;
  margin-top: 10vh;
}

#emailId{
  font-size: 2vh;
  border-radius: 5vh;
  border-color: white;
  margin-left: 5vh;
}
#password{
  font-size: 2vh;
  border-radius: 25vh;
  border-color: white;
  margin-left: 3vh;
}
#emailErr{
  color: red;
  font-size: 3vh;
  margin-left: 50%;
  
}
#button:hover {
  background-color: slategray;
  color: cornsilk;
}