#pencilDrawing_content {
    background-color: #F2F5EA;
    width: 20%;
    font-style: normal;
    font-family:'Times New Roman', Times, serif;
    margin-left: 24%;
    margin-top: 10%;
    padding: 2%;
    margin-bottom: 15%;
    border: rgb(214, 212, 212);
    border-style: groove;
    box-shadow: -10px 10px 10px rgb(153, 150, 150);
}
#imageDrawing {
    width: 70%;
    height: 582px;
    margin-top: 24%;
    background-color: rgb(235, 235, 235);
    border: rgb(214, 212, 212);
    border-style: groove;
    box-shadow: 10px 10px 10px rgb(153, 150, 150);
}
.bgColor {
    /* background-color: rgb(212, 212, 212); */
    background-image:url(../img/bgImage.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0%;
    display: flex;
    flex-flow: row;
    width: 100%;
    
}