#cartPage{
    background-color: gainsboro;
    color: black;
    box-shadow: 10px 10px 20px grey;
    padding-bottom: 4px;
    padding-left: 3%;
    font-size: 2.5vh;
    width: 100%;
    height: 25px;
    padding-top: 5%;
    z-index: 1;
}
.cartBtn{
    margin-left: 3%; 
    width: 5%;
    padding: 7px;
 }
 .cartBtn:hover{
    cursor: pointer;
    padding: 5px;
    background-color: #5e5d5d;
}
.buy{
   margin-left: 3%; 
   width: 5%;
   padding: 7px;
}
.buy:hover{
    cursor:pointer;
    padding: 5px;
    background-color: #5e5d5d;
}
.myForm{
    margin-right: 5%;
    margin-left: 40.5%;
    margin-top: 4%;
    background-color: lightsteelblue;
    width: 35%;
    height: 620px;
    position: relative;
}
.images{
   position: absolute;
   left: 0%;
   top: 0%;
   margin-left: 12%;
   padding-top: 10.5%;
}
#artistName{
    padding: 5px;
    border-radius: 5vh;
    font-size: 2vh;
    width: 40%;
    margin-top: 5%;
    margin-left: 20%;
}
#place{
    padding: 5px;
    border-radius: 5vh;
    font-size: 2vh;
    width: 40%;
    margin-top: 5%;
    margin-left: 20%;
}
#artName{
    padding: 5px;
    border-radius: 5vh;
    font-size: 2vh;
    width: 40%;
    margin-top: 5%;
    margin-left: 20%;
}
#artType{
    padding: 5px;
    border-radius: 5vh;
    font-size: 2vh;
    width: 40%;
    margin-top: 5%;
    margin-left: 20%; 
}
#price{
    padding: 5px;
    border-radius: 5vh;
    font-size: 2vh;
    width: 40%;
    margin-top: 5%;
    margin-left: 20%;
}
#image{
    padding: 5px;
    border-radius: 5vh;
    font-size: 2vh;
    width: 40%;
    margin-top: 5%;
    margin-left: 20%;
}
.addButton{
    margin-top: 5%;
    margin-left: 55%;
    margin-bottom: 5%;
    font-size: 3vh;
}